{% extends "base.html" %}

{% block title %}
Registrar Mascota
{% endblock %}

{% block content %}

<div class="card-mascota">

    <h2 class="sin-registrar">
        PawTag sin registrar
    </h2>

    <p>
        Este tag NFC todavía no está asociado a ninguna mascota.
    </p>

    <p>
        Complete el formulario para registrarla.
        <strong>Todos los campos son obligatorios.</strong>
    </p>

    <form action="{{ url_for('alta_mascota', id_tag=id_tag) }}" method="POST" novalidate>

        <label for="nombre_mascota">
            Nombre
        </label>

        <input
            type="text"
            id="nombre_mascota"
            name="nombre_mascota"
            placeholder="Nombre de la mascota"
            value="{{ datos.nombre_mascota if datos else '' }}"
            required
        >

        <label for="observaciones">
            Observaciones
        </label>

        <textarea
            id="observaciones"
            name="observaciones"
            placeholder="Ej: Es asustadiza, toma medicación, responde a su nombre, puede morder si tiene miedo."
            required
        >{{ datos.observaciones if datos else '' }}</textarea>

        <label for="telefono_contacto">
            Teléfono

            {% if errores and errores.telefono_contacto %}
            <span class="error-campo">
                {{ errores.telefono_contacto }}
            </span>
            {% endif %}
        </label>

        <input
            type="text"
            id="telefono_contacto"
            name="telefono_contacto"
            placeholder="Ej: 11 1234-5678"
            value="{{ datos.telefono_contacto if datos else '' }}"
            class="{% if errores and errores.telefono_contacto %}input-error{% endif %}"
            required
        >

        <label for="email_contacto">
            Email

            {% if errores and errores.email_contacto %}
            <span class="error-campo">
                {{ errores.email_contacto }}
            </span>
            {% endif %}
        </label>

        <input
            type="email"
            id="email_contacto"
            name="email_contacto"
            placeholder="correo@ejemplo.com"
            value="{{ datos.email_contacto if datos else '' }}"
            class="{% if errores and errores.email_contacto %}input-error{% endif %}"
            required
        >

        <button type="submit">
            Registrar mascota
        </button>

    </form>

</div>

{% endblock %}