{% extends "base.html" %}

{% block title %}
{{ mascota.nombre_mascota }}
{% endblock %}

{% block content %}

<div class="card-mascota">

    <h1>{{ mascota.nombre_mascota }}</h1>

    <div class="observaciones">
        <h3>Observaciones</h3>
        <p>{{ mascota.observaciones }}</p>
    </div>

    <a
        href="https://wa.me/{{ mascota.telefono_contacto }}?text={{ mensaje_whatsapp }}"
        class="btn btn-whatsapp"
    >
        💬 Enviar WhatsApp
    </a>

    <!--
    TODO: 
    Versión demo:
    La edición utiliza el ID de la mascota.
    Versión desplegada:
    Se reemplazará por un enlace temporal con token enviado al email registrado.
    -->

    <a
        href="/aviso_edicion/{{ mascota.id }}"
        class="btn btn-outline"
    >
        Editar datos de la mascota
    </a>

    <div class="mensaje-cuidado">
        <div class="mensaje-cuidado-titulo">
            🐾 Gracias por cuidar de mí 💚
        </div>

        <div class="mensaje-cuidado-texto">
            Si me encontraste, por favor comunicate con mi humano.
        </div>
    </div>

</div>



{% endblock %}