{% extends "base.html" %}

{% block title %}
PawTag
{% endblock %}

{% block content %}


<p>
    PawTag ayuda a reunir mascotas perdidas con sus dueños mediante tecnología NFC.
</p>

<p>
    Escaneá una chapita y obtené acceso inmediato a la información de contacto.
</p>

<h3>Demo</h3>

<p>
    Explorá el funcionamiento de la aplicación con etiquetas NFC simuladas.
</p>

<div class="demo-home">
    <a href="/reiniciar_demo" class="btn-demo">
        Iniciar demostración
    </a>
</div>

{% endblock %}



