{% extends "base.html" %}

{% block title %}
PawTag
{% endblock %}

{% block content %}

<div class="hero">

    <p class="hero-texto">
        PawTag ayuda a reunir mascotas perdidas con sus dueños mediante tecnología NFC.
    </p>

    <p class="hero-texto">
        Al escanear una chapita NFC, cualquier persona puede acceder rápidamente a la información de contacto y ayudar a reunirla con su familia.
    </p>

</div>

<div class="card-demo">

    <h3>Probar la demostración</h3>

    <p>
        Explorá el funcionamiento de la aplicación utilizando etiquetas NFC simuladas.
    </p>

    <a href="/reiniciar_demo" class="btn btn-outline">
        Iniciar demostración
    </a>

</div>

{% endblock %}